<%- include ("includes/header") %>
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="page-contents">
                        <div class="col-md-3">
                            <%- include("includes/left-sidebar")%>
                        </div>
                        <div class="col-md-6">
                            <div class="central-meta">
                                <div class="editing-info">
                                    <h5 class="f-title">
                                        <i class="ti-info-alt"></i>
                                        Create Page
                                    </h5>
                                    <form onsubmit="return createPage(this);">
                                        <div class="form-group">
                                            <label>Cover Photo</label>
                                            <input type="file" name="coverPhoto" accept="image/*" required/>
                                            <i class="mtrl-select"></i>
                                            <br><br>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="name" required/>
                                            <label class="control-label">Page Name</label>
                                            <i class="mtrl-select"></i>
                                            <br><br>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="domainName" required/>
                                            <label class="control-label">www.yourdomain.com</label>
                                            <i class="mtrl-select"></i>
                                            <br><br>
                                        </div>
                                        <div class="form-group">
                                            <textarea type="text" name="additionalInfo" required></textarea>
                                            <label class="control-label">Additional Info</label>
                                            <i class="mtrl-select"></i>
                                            <br><br>
                                        </div>
                                        <button type="submit" class="mtr-btn" name="submit">
                                            <span>Save</span>
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include ("includes/footer") %>