<%- include("includes/header") %>

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="page-contents">
                        <div class="col-md-3">
                            <%- include("includes/left-sidebar") %>
                        </div>
                        <div class="col-md-6">
                            <div class="central-meta">
                                <div class="messages">
                                    <h5 class="f-title">
                                        <i class="ti-bell"></i>
                                        messages
                                        <span class="more-options">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </span>
                                    </h5>
                                    <div class="message-box">
                                        <ul class="peoples" id="friends"></ul>
                                        <div class="peoples-mesg-box">
                                            <div class="conversation-head" id="conversation-head"></div>
                                            <ul class="chatting-area" id="chatting-area"></ul>
                                            <div class="message-text-container">
                                                <form method="post" onsubmit="return doSendMessage(this);">
                                                <textarea name="message"></textarea>
                                                <button title="send">
                                                    <i class="fa fa-paper-plane"></i>
                                                </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("includes/footer") %>