<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/landingpage.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>StartCom</title>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">StartCom</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                </ul> 
                <a href="/index" class="btn me-2 btn-primary">Get Started</a>
            </div>
        </div>
    </nav><!-- //NAVBAR -->

    <div class="hero vh-100 d-flex align-items-center" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h1 class="display-4 text-white">Welcome to StartCom</h1>
                    <p class="text-white my-3">StartCom gives you a chance to express your ideas to the ever-growing
                        world and also to become part of this community. </p>
                    <a href="/index" class="btn me-2 btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <section id="Features">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h1 class="text-primary">Features</h1>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect bounceInUp">
                        <div class="iconbox">
                            <i class="bx bxs-check-shield"></i>
                        </div>
                        <h5 class="mt-4 mb-2">Pages</h5>
                        <p>User can create pages and express their ideas efficiently with the help of images, links
                            etc..
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class="bx bxs-comment-detail"></i>
                        </div>
                        <h5 class="mt-4 mb-2">Groups</h5>
                        <p>User can colloborate with another user by forming groups if he/she likes the idea</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class="bx bxs-cog"></i>
                        </div>
                        <h5 class="mt-4 mb-2">Connectivity</h5>
                        <p>This platform helps to connect fund seekers and investors in an easy way
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class="bx bxs-heart"></i>
                        </div>
                        <h5 class="mt-4 mb-2">Privacy</h5>
                        <p>Everyone has their own privacy about their ideas and information</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class="bx bxs-rocket"></i>
                        </div>
                        <h5 class="mt-4 mb-2">Individuality</h5>
                        <p>Each individual has their own pertained account </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class="bx bxs-doughnut-chart"></i>
                        </div>
                        <h5 class="mt-4 mb-2">community</h5>
                        <p>join the best community to nurture touyr idea </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h1 class="text-primary">TEAM</h1>
                    <h6>Meet Our Team Members</h6>
                </div>
            </div>
            <div class="row text-center g-5">
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="/public/images/attachments/virat.jpg" alt="">
                        <h5 class="mb-0 mt-4">Viraat</h5>
                        <p>Student</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="/public/images/attachments/boo.jpeg" alt="">
                        <h5 class="mb-0 mt-4">Samrat</h5>
                        <p>Student</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="/public/images/attachments/lokesh.jpg" alt="">
                        <h5 class="mb-0 mt-4">Lokesh</h5>
                        <p>Student</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="/public/images/attachments/jayanth.jpeg" alt="">
                        <h5 class="mb-0 mt-4">Jayanth</h5>
                        <p>Student</p>
                    </div>
                </div>
                <center>
                    <div class="col-lg-3 col-sm-6">
                        <div class="team-member card-effect">
                            <img src="/public/images/attachments/kartheek.jpeg" alt="">
                            <h5 class="mb-0 mt-4">Kartheek</h5>
                            <p>Student</p>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4">
                        <a class="footer-logo" href="#">StartCom</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
            document.getElementById("myButton").onclick = function () {
                location.href = "/";
            };
        </script>
</body>

</html>